@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  /* ────────── COLORS ────────── */
  --color-neutral-white: #ffffff; /* neutral-shade-0 */
  --color-neutral-lightest: #f2f2f2; /* neutral-shade-1 */
  --color-neutral-lighter: #d8d8d8; /* neutral-shade-2 */
  --color-neutral-light: #b2b2b2; /* neutral-shade-3 */
  --color-neutral: #7f7f7f; /* neutral-shade-4 */
  --color-neutral-dark: #4c4c4c; /* neutral-shade-5 */
  --color-neutral-darker: #191919; /* neutral-shade-6 */
  --color-neutral-darkest: #000000; /* neutral-shade-7 */

  --color-mauve-lightest: #faf4ff; /* chromatic1-shade-1 */
  --color-mauve-lighter: #f6eaff; /* chromatic1-shade-2 */
  --color-mauve-light: #dfb8ff; /* chromatic1-shade-3 */
  --color-mauve: #d29aff; /* chromatic1-shade-4 */
  --color-mauve-dark: #a87bcc; /* chromatic1-shade-5 */
  --color-mauve-darker: #543d66; /* chromatic1-shade-6 */
  --color-mauve-darkest: #3f2e4c; /* chromatic1-shade-7 */

  --color-corvette-lightest: #fef9f4; /* chromatic2-shade-1 */
  --color-corvette-lighter: #fdf3e9; /* chromatic2-shade-2 */
  --color-corvette-light: #fad7b4; /* chromatic2-shade-3 */
  --color-corvette: #f9c795; /* chromatic2-shade-4 */
  --color-corvette-dark: #c79f77; /* chromatic2-shade-5 */
  --color-corvette-darker: #634f3b; /* chromatic2-shade-6 */
  --color-corvette-darkest: #4a3b2c; /* chromatic2-shade-7 */

  --color-carnation-lightest: #fff4f9; /* chromatic3-shade-1 */
  --color-carnation-lighter: #ffe9f4; /* chromatic3-shade-2 */
  --color-carnation-light: #ffb3d8; /* chromatic3-shade-3 */
  --color-carnation: #ff93c8; /* chromatic3-shade-4 */
  --color-carnation-dark: #cc75a0; /* chromatic3-shade-5 */
  --color-carnation-darker: #663a50; /* chromatic3-shade-6 */
  --color-carnation-darkest: #4c2c3c; /* chromatic3-shade-7 */

  --color-transparent: transparent;
  --color-white-5: color-mix(in srgb, #ffffff, transparent 95%); /* neutral-white-5 */
  --color-white-10: color-mix(in srgb, #ffffff, transparent 90%); /* neutral-white-10 */
  --color-white-15: color-mix(in srgb, #ffffff, transparent 85%); /* neutral-white-15 */
  --color-white-20: color-mix(in srgb, #ffffff, transparent 80%); /* neutral-white-20 */
  --color-white-30: color-mix(in srgb, #ffffff, transparent 70%); /* neutral-white-30 */
  --color-white-40: color-mix(in srgb, #ffffff, transparent 60%); /* neutral-white-40 */
  --color-white-50: color-mix(in srgb, #ffffff, transparent 50%); /* neutral-white-50 */
  --color-white-60: color-mix(in srgb, #ffffff, transparent 40%); /* neutral-white-60 */

  --color-neutral-darkest-5: color-mix(in srgb, #000000, transparent 95%); /* neutral-shade-7-5 */
  --color-neutral-darkest-10: color-mix(in srgb, #000000, transparent 90%); /* neutral-shade-7-10 */
  --color-neutral-darkest-15: color-mix(in srgb, #000000, transparent 85%); /* neutral-shade-7-15 */
  --color-neutral-darkest-20: color-mix(in srgb, #000000, transparent 80%); /* neutral-shade-7-20 */
  --color-neutral-darkest-30: color-mix(in srgb, #000000, transparent 70%); /* neutral-shade-7-30 */
  --color-neutral-darkest-40: color-mix(in srgb, #000000, transparent 60%); /* neutral-shade-7-40 */
  --color-neutral-darkest-50: color-mix(in srgb, #000000, transparent 50%); /* neutral-shade-7-50 */
  --color-neutral-darkest-60: color-mix(in srgb, #000000, transparent 40%); /* neutral-shade-7-60 */

  /* ────────── TYPOGRAPHY ────────── */
  --font-weight-bold: 400; /* --heading-font-weight */

  --text-xs: 0.75rem; /* --text-tiny-font-size */
  --text-xs--line-height: 1.5; /* --body-line-height */

  --text-sm: 0.875rem; /* --text-small-font-size */
  --text-sm--line-height: 1.5; /* --body-line-height */

  --text-base: 1rem; /* --text-regular-font-size */
  --text-base--line-height: 1.5; /* --body-line-height */

  --text-md: 1.125rem; /* --text-medium-font-size */
  --text-md--line-height: 1.5; /* --body-line-height */

  --text-lg: 1.25rem; /* --text-large-font-size */
  --text-lg--line-height: 1.5; /* --body-line-height */

  --text-xl: 1.25rem; /* --heading-h6-font-size */
  --text-xl--line-height: 1.4; /* --heading-h6-line-height */
  --text-xl--letter-spacing: -0.0125em; /* --heading-h6-letter-spacing */

  --text-2xl: 1.5rem; /* --heading-h5-font-size */
  --text-2xl--line-height: 1.4; /* --heading-h5-line-height */
  --text-2xl--letter-spacing: -0.015em; /* --heading-h5-letter-spacing */

  --text-3xl: 1.75rem;
  --text-3xl--line-height: 1.4;

  --text-4xl: 2rem; /* --heading-h4-font-size */
  --text-4xl--line-height: 1.3; /* --heading-h4-line-height */
  --text-4xl--letter-spacing: -0.02em; /* --heading-h4-letter-spacing */

  --text-5xl: 2.25rem;
  --text-5xl--line-height: 1.3;

  --text-6xl: 2.5rem; /* --heading-h3-font-size */
  --text-6xl--line-height: 1.2; /* --heading-h3-line-height */
  --text-6xl--letter-spacing: -0.025em; /* --heading-h3-letter-spacing */

  --text-7xl: 2.75rem;
  --text-7xl--line-height: 1.2;

  --text-8xl: 3rem; /* --heading-h2-font-size */
  --text-8xl--line-height: 1.2; /* --heading-h2-line-height */
  --text-8xl--letter-spacing: -0.03em; /* --heading-h2-letter-spacing */

  --text-9xl: 3.25rem;
  --text-9xl--line-height: 1.2;

  --text-10xl: 3.5rem; /* --heading-h1-font-size */
  --text-10xl--line-height: 1.2; /* --heading-h1-line-height */
  --text-10xl--letter-spacing: -0.035em; /* --heading-h1-letter-spacing */

  /* ────────── UI STYLING ────────── */
  --radius-button: 2rem; 
  --radius-card: 2rem;
  --radius-input: min(var(--radius-button), 0.75rem); /* similar to button but last radius equals previous (0, 6px, 12px, 12px) */
  --radius-badge: var(--radius-button);
  --radius-image: var(--radius-card);

  /* ────────────────────────────── RELUME DEFAULTS ────────────────────────────── */
  /* ────────── WIREFRAME COLORS ────────── */
  --color-background-primary: #ffffff; /* to be changed to `color-scheme-1-background` */
  --color-background-secondary: #eeeeee; /* to be changed to `color-scheme-1-foreground` */
  --color-background-alternative: #000000; /* to be discussed */

  --color-border-primary: #000000; /* to be changed to `color-scheme-1-border` */
  --color-border-alternative: #ffffff; /* to be discussed */

  --color-text-primary: #000000; /* to be changed to `color-scheme-1-text` */
  --color-text-alternative: #ffffff; /* to be discussed */

  --color-link-primary: #000000; /* to be discussed */

  /* ────────── BREAKPOINTS ────────── */
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1440px;

  /* ────────── CONTAINERS ────────── */
  --container-*: initial;
  --container-xxs: 20rem;
  --container-xs: 25rem;
  --container-sm: 30rem;
  --container-md: 35rem;
  --container-lg: 48rem;
  --container-xl: 64rem;
  --container-xxl: 80rem;

  /* ────────── MAX WIDTHS ────────── */
  --max-w-xxs: var(--container-xxs);
  --max-w-xs: var(--container-xs);
  --max-w-sm: var(--container-sm);
  --max-w-md: var(--container-md);
  --max-w-lg: var(--container-lg);
  --max-w-xl: var(--container-xl);
  --max-w-xxl: var(--container-xxl);

  /* ────────── SPACING ────────── */
  --spacing-18: 4.5rem;
  --spacing-30: 7.5rem;

  /* ────────── KEYFRAMES ────────── */
  @keyframes accordion-down { from { height: 0px; } to { height: var(--radix-accordion-content-height); } }
  @keyframes accordion-up { from { height: var(--radix-accordion-content-height); } to { height: 0px; } }
  @keyframes loop-horizontally { from { transform: translateX(0); } to { transform: translateX(-100%); } }
  @keyframes loop-testimonials { from { transform: translateX(0); } to { transform: translateX(-135rem); } }
  @keyframes loop-vertically { from { transform: translateY(0); } to { transform: translateY(-50%); } }
  @keyframes loop-vertically-top { from { transform: translateY(0); } to { transform: translateY(-50%); } }
  @keyframes loop-vertically-bottom { from { transform: translateY(-50%); } to { transform: translateY(0); } }
  @keyframes marquee-horizontally { from { transform: translateX(0); } to { transform: translateX(-50%); } }
  @keyframes marquee-top { from { transform: translateX(0); } to { transform: translateX(-50%); } }
  @keyframes marquee-right { from { transform: translateX(0); } to { transform: translateX(100%); } }
  @keyframes marquee-bottom { from { transform: translateX(-50%); } to { transform: translateX(0%); } }
  @keyframes marquee-left { from { transform: translateX(100%); } to { transform: translateX(0); } }
  @keyframes tabs { 0% { opacity: 0; } 100% { opacity: 1; } }

  /* ────────── ANIMATIONS ────────── */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-loop-horizontally: loop-horizontally 20s linear infinite;
  --animate-loop-testimonials: loop-testimonials 30s linear infinite;
  --animate-loop-vertically: loop-vertically 30s linear infinite;
  --animate-loop-vertically-top: loop-vertically-top 50s linear infinite;
  --animate-loop-vertically-bottom: loop-vertically-bottom 50s linear infinite;
  --animate-marquee-horizontally: marquee-top 30s linear infinite;
  --animate-marquee-top: marquee-top 50s linear infinite;
  --animate-marquee-right: marquee-right 25s linear infinite;
  --animate-marquee-bottom: marquee-bottom 50s linear infinite;
  --animate-marquee-left: marquee-left 25s linear infinite;
  --animate-tabs: tabs 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lexend Deca", sans-serif; /* --heading-font-family */
    text-transform: uppercase; /* --heading-text-transform */
  }

  body {
    font-family: "Poppins", sans-serif; /* --body-font-family */
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility container {
  margin-inline: auto;
  max-width: var(--container-xxl);
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}